#!/bin/bash

# make aliases sudo-able
alias sudo="sudo "

# delete directories
alias rmd="rm -rf"

alias cls="clear"

# directory navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# neovim
alias vi="nvim"
alias vim="nvim"

# list aliases
alias ls="ls --color=auto"
alias lf="ls -AhF"
alias ld="ls -dghF .*/ */"
lt() {
    local level=${1:-1}  # Use the first argument if provided, default to 1 if not
    tree -L $level
}

# git shortcuts
alias ga="git add"
alias gc="git commit"
alias gb="git branch"
alias gd="git diff"
alias gco="git checkout"
alias gp="git push"
alias gpm="git push origin master"
alias gl="git pull"
alias gt="git tag"
alias gm="git merge"
alias glog="git log --graph --pretty=format:'%C(bold red)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias ggstat="git log --graph --stat"
alias gcp="git cherry-pick"
alias gbg="git bisect good"
alias gbb="git bisect bad"

# git utilities
alias gff="git flow feature"
alias gfh="git flow hotfix"
alias gfr="git flow release"
alias g-c="git cola"

alias grep="grep --color=auto"

alias timestamp="date +%s"


#useful lists
alias lsg="git status"
alias lsd="docker ps"


alias workspace="cd ~/Work"
alias personalspace="cd ~/Personal"
alias pp="cd ~/Personal/Projects/"
alias wp="cd ~/Work/Projects/"
alias tp="cd ~/Personal/Projects/tooling/"
alias op="cd ~/Obsidian\ Notebook/personal/"
alias dot="cd ~/.dotfiles/"

#Tools
alias spotify="nohup spotify >/dev/null 2>&1 &"
alias obsidian='open -a "Obsidian"'

function mkcd {
  command mkdir $1 && cd $1
}

function readallcsv {
  command find . -name "*.csv" -print0 | xargs -0 -I {} sh -c 'echo "=== {} ==="; csvlook "{}" | less -S'
}

#Recording
multi_alias() {
    # Usage: multi_alias "echo something" ss yyy zzz
    cmd="$1"
    shift
    for name in "$@"; do
        alias "$name"="$cmd"
    done
}

multi_alias 'ffmpeg -f avfoundation -framerate 30 -i "1" -f matroska - | ffplay -' \
  previewscreen screenprev screenpreview prevscreen
multi_alias 'ffmpeg -f avfoundation -framerate 30 -i "0" -f matroska - | ffplay -' \
  previewcamera cameraprev camerapreview prevcamera
multi_alias 'ffmpeg -f avfoundation -i "1" "$(date +"%Y%m%d%H%M.mkv")"' \
  recscreen screenrec screenrecording
multi_alias 'ffmpeg -f avfoundation -i "0" "$(date +"%Y%m%d%H%M.mkv")"' \
  reccamera camrec camerarecording
multi_alias 'ffmpeg -f avfoundation -list_devices true -i ""' \
  listdevices lsdevices

